body {
  color: black;
  background-color: moccasin;
  font-family: papyrus,fantasy;
  font-size:20px;
}
h1 {
  color: darkolivegreen;
  text-decoration: underline;
  font-family: serif;
}
h2 {
  color: darkorchid;
}
#css-anatomy-heading {
  color: mediumspringgreen;
  textdecoration: underline;
}
.underline {
  text-decoration: underline;
}
#css-talk{
  font-family:lucida handwriting;
}
