body {
  color: black;
  background-color: lightsteelblue;
  font-family: papyrus,fantasy;
  font-size:20px;
}
h1 {
  color: darkolivegreen;
  text-decoration: underline;
  font-family: serif;
}
h2 {
  color: darkorchid;
}
#css-anatomy-heading {
  color: forestgreen;
  textdecoration: underline;
}
.underline {
  text-decoration: underline;
}
#css-talk{
  font-family:garamond,serif;
  font-size:18px;
}
.bold{
  font-weight:bold;
  font-size:1.2em;
}
