body {
  color: black;
  background-color: darksalmon;
  font-family: papyrus,fantasy;
}
h1 {
  color: darkolivegreen;
  text-decoration: underline;
  font-family: serif;
}
h2 {
  color: darkorchid;
}
#css-anatomy-heading {
  color: red;
  textdecoration: underline;
}
.underline {
  text-decoration: underline;
}
