body {
  color: black;
  background-color: darksalmon;
}
h1 {
  color: darkolivegreen;
  text-decoration: underline;
}
h2 {
  color: darkorchid;
}
#css-anatomy-heading {
  color: red;
    textdecoration:underline;
}
.underline{
  text-decoration:underline;
}